body {
  font-family: Arial, sans-serif;
  background-color: #1a1a2e;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.progress-bar-container {
  width: 100%;
  background-color: #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.progress-bar {
  width: 25%;
  height: 8px;
  background-color: #ff4b5c;
}
.quiz-wrapper {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
}
.quiz-header {
  text-align: center;
  margin-bottom: 20px;
}
.quiz-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff4b5c;
}
.quiz-header p {
  font-size: 18px;
  margin-bottom: 20px;
}
.quiz-container {
  background-color: #16213e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.quiz-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.quiz-options {
  display: flex;
  justify-content: space-between;
}
.quiz-option {
  width: 48%;
  text-align: center;
  background-color: #0f3460;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: white;
}
.quiz-option img {
  width: 100%;
  border-bottom: 2px solid #16213e;
}
.quiz-option span {
  display: block;
  padding: 15px;
  font-size: 18px;
}
.quiz-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.quiz-footer {
  text-align: center;
  font-size: 12px;
  color: #b5b5b5;
  margin-top: 20px;
}
.quiz-footer a {
  color: #b5b5b5;
  text-decoration: none;
  margin: 0 10px;
}
.quiz-footer a:hover {
  text-decoration: underline;
}