body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.progress-container {
  width: 90%;
  max-width: 600px;
  background-color: #d0d0d0; /* Tom suave de cinza */
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
  position: relative;
  border: 1px solid #ccc; /* Borda sutil */
}
.progress-bar {
  height: 20px;
  width: 25%; /* Inicialmente 25% */
  background-color: #007bff;
  text-align: center;
  color: white;
  line-height: 20px;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  animation: fillAnimation 1s ease-in-out;
}
@keyframes fillAnimation {
  from { width: 0%; }
  to { width: 25%; }
}
.progress-text {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
.quiz-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  margin: 20px auto;
}
.quiz-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.quiz-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.quiz-explanation {
  font-size: 16px;
  color: #000;
  text-align: left;
  margin-bottom: 20px;
}
.quiz-question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.quiz-option {
  display: block;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 0.3s;
}
.quiz-option:hover {
  background-color: #0056b3;
}
.quiz-footer {
  text-align: center;
  font-size: 12px;
  color: #999;
  padding: 10px;
}
.quiz-footer a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
}
.quiz-footer a:hover {
  text-decoration: underline;
}